# Gradle
.gradle/
build/

# Android Studio
.idea/
*.iml

# Local config
local.properties

# Native build
.externalNativeBuild
.cxx

# Capture folder
captures/

# OS
.DS_Store

# Keystore
*.jks
*.keystore

# Logs
*.log